In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
language = ['C', 'C++', 'Java', 'Python', 'R', 'Go', 'Haskell', 'Scala', 'JavaScript']

In [ ]:
language = pd.Series(language) # series is a 1D labelled array 
print (language)
print (type(language))

In [ ]:
language[4]

In [ ]:
# pd.Series(language, index = ['a','b','c', 'd', 'e', 'f', 'g', 'h', 'i'])

In [ ]:
language.index = ['a','b','c', 'd', 'e', 'f', 'g', 'h', 'i'] # index the elements as you like
print (language)

In [ ]:
language['c']

---
# **DataFrames**
## -- A collection of series

In [ ]:
arr = np.random.randint(10, 100, (6,4))
arr

In [ ]:
df = pd.DataFrame(data = arr)
df

In [ ]:
type(df)

In [ ]:
df[2]

In [ ]:
type(df[2]) # it is a series

In [ ]:
df.columns = ['A', 'B', 'C', 'D']
df

In [ ]:
df[['B', 'D']]

In [ ]:
df.head() # will return the first five rows

In [ ]:
df.head(3) # 5 is the default value, however it can be set to any other value

In [ ]:
df.tail() # returns the last 5 rows by default

In [ ]:
df['A+B'] = df['A'] + df['B'] # creates a new column A+B with sum of values of column A and B
df

In [ ]:
df.drop(columns = ['D']) # deletes the column D

In [ ]:
df.index = "p q r s t u".split()
df

In [ ]:
df.loc['p'] # loc is used to extract a row

In [ ]:
df.iloc[4] # integer location of the row - here t is at position 4

In [ ]:
df.loc['q': 't'][['B', 'C']] # indexes from start_row_index to last_row_index - 1

In [ ]:
df.iloc[-2:][['D', 'A+B']] # returns the last 4 corner cells of the array

In [ ]:
mask = df['B'] > 40
mask

In [ ]:
df[mask] # as B value for row q, r and s is False, they are dropped from the dataframe

---
# Iris Dataset

**Click on +Add Data to upload the data file from your device**

To get the file path:
1. click on the drop down arrow beside **Data**
2. copy the file path of the file from the **Input** section

[Read this notebook for more help](https://www.kaggle.com/code/dansbecker/finding-your-files-in-kaggle-kernels/notebook)

In [ ]:
iris = pd.read_csv('../input/iris-dataset/iris.csv') # syntax to read the file
iris

In [ ]:
iris.columns

In [ ]:
iris.describe()

In [ ]:
iris['species'].nunique() # returns the number of unique values in that column

In [ ]:
iris['species'].unique() # returns the unique values

In [ ]:
iris[iris['species'] == 'versicolor'].shape # filters out the versicolor species and counts them

In [ ]:
iris['species'].value_counts() # returns the counts of each unique value

In [ ]:
iris['species'].value_counts()['virginica'] # to get the count of a specific value

In [ ]:
print(iris['petal_length'].max())
print(iris['petal_length'].min())
print(iris['petal_length'].sum())
print(iris['petal_length'].mean())

In [ ]:
iris.sort_values(by = 'petal_length') # arranged in increasing order by the petal length

In [ ]:
iris.sort_values(by = ['petal_length', 'sepal_length']) 
# if petal_length is same, it is arranged in increasing order acc. to the sepal_length

In [ ]:
iris['species'].apply(lambda x: x + x) # applies the given function to the entire column

---

In [ ]:
iris.aggregate(['min', 'max']) # returns the min and max values of all the fields

In [ ]:
grouped = iris.groupby('species')
grouped

In [ ]:
grouped.min() # returns the minimum value of each field for each unique species

In [ ]:
grouped.describe().T

---

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
iris2 = pd.read_csv('../input/iris-dataset/iris.csv')
iris2

In [ ]:
#deleting values from the dataset
nan_idx = np.random.randint(0, 150, 20) # randomly picks 20 indices
iris2['sepal_length'][nan_idx] = np.nan # replaces them with NaN (not a number)

In [ ]:
iris2['sepal_length'][:50] # voids have been created

In [ ]:
iris2.isna().sum() # isna checks for NaN values in the dataset

In [ ]:
# uncomment the next comment to test it
# iris.dropna() 
# dropna drops the rows with any NaN values
#not recommended

In [ ]:
round (iris2['sepal_length'].mean(), 1)

In [ ]:
iris2['sepal_length'].fillna(round (iris2['sepal_length'].mean(), 1)) 
# fillna repalces all NaN values with the value you provide
# here, it is replaced by the mean

---

In [ ]:
# creating new dataset
dummy_iris = pd.DataFrame(np.random.randint(0, 7, (10,4)))
dummy_iris

In [ ]:
# creating species
dummy_iris['species'] = "new-species"
dummy_iris

In [ ]:
dummy_iris.columns = iris.columns # assigning the iris column names to dummy_iris 
dummy_iris

In [ ]:
new_iris = pd.concat((iris, dummy_iris)) # axis = 1 for concatenating row wise 
new_iris

In [ ]:
df1 = pd.DataFrame({'Student': ['Nikhil', 'Roshan', 'Sayantan', 'Shadab'],
                   'Marks': [12, 23, 34, 45]})

In [ ]:
df2 = pd.DataFrame({'Teacher': ['KGT', 'ABC', 'AGD', 'SPR'],
                   'Marks': [34, 56, 45, 67]})

In [ ]:
df1.merge(df2, how = 'inner') 
# matches the value according to the common field and prints the common ones

In [ ]:
df1.merge(df2, how = 'outer')

In [ ]:
df1.merge(df2, how = 'left')

In [ ]:
df1.merge(df2, how = 'right')

---
**Saving files**

In [ ]:
new_iris.to_csv('./new_iris.csv')